---

---
@charset "utf-8";

@import "common";

.lofter.home {

  .jumb {

    &-cover {
      background-image: url(//7xljt6.com1.z0.glb.clouddn.com/56457333dc6c1d0b4677afcb114cf494.png-c300h);
    }

    &-content {
      top: 40%;
      &-title {
        margin: 0 0 16px 0;
        font-size: 45px;
        font-weight: 700;
        text-align: center;
        color: #fff;
        font-family: Simsun, "宋体";
      }
      &-desc {
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        color: #fff;
        font-family: Simsun, "宋体";
      }
    }
  }

}


