---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "syntax-highlighting";

.post {
  &-content {
    img {
      max-width: 100%;
      height: auto;
    }
    // 覆盖 materialize-css
    ul {
      padding-left: 30px;
      list-style-type: disc;
      li {
        list-style-type: disc;
      }
    }
  }
}
