---
layout: default
---

<div class="">

  {% for post in site.posts %}
    <div class="section">
      <h4>
        <a class="" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h4>
      <div>
        {% for tag in post.tags %}
          <span class="chip">{{tag}}</span>
        {% endfor %}
      </div>
      <div>
        {{post.excerpt}}
      </div>
    </div>
  {% endfor %}

  <p class="">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
