@charset "utf-8";

.lofter {
  // typecho
  // -------------------
  * {
    font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  }

  // 改写导航栏
  // ----------------------
  .site-header {
    position: relative;
    margin-bottom: -64px;
    z-index: 2;

    > nav { 
      background-color: transparent;
      ul {
        a {
          &:hover { background-color: rgba(0,0,0,0.3); }
        }
      }
    }
  }

  // 页头巨幕
  // -------------------------
  .jumb {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    height: 300px;

    &-cover {
      height: 100%;
      background-size: cover;
      background-color: #ccc;
      background-position: center;
    }

    &-content {
      position: absolute;
      width: 100%;
      top: 40%;
    }
  }

}