.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("http://7xljt6.com1.z0.glb.clouddn.com/BingWallpaper-2016-07-20.jpg") no-repeat 35% 50%;
  background-size: cover;
}
.wrapper .title {
  position: absolute;
  top: 35%;
  left: 1%;
  color: #fff;
  font-size: 40px;
}
